PORT=3000
NEON_DATABASE_URL=postgresql://USER:PASSWORD@HOST/DB?sslmode=require

# Claves de autenticación de Clerk
CLERK_PUBLISHABLE_KEY=pega_aqui_tu_publishable_key
CLERK_SECRET_KEY=pega_aqui_tu_secret_key

#para la creacion del admin
ADMIN_CLERK_ID=user_pega_aqui_tu_id_de_clerk
ADMIN_NOMBRE=Tu Nombre Real
ADMIN_CORREO=tu_correo_real@ejemplo.com